image: 'alpine:latest'
volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  - ${HOME}:${HOME}
{% if lookup('env','SSH_AUTH_SOCK')|default('')|length >0 %}
  - ${SSH_AUTH_SOCK}:${SSH_AUTH_SOCK}
{% endif %}
environment:
{% if lookup('env','SSH_AUTH_SOCK')|default('')|length >0 %}
  - SSH_AGENT_PID
  - SSH_AUTH_SOCK
{% endif %}
  - HOME
  - USER
  - UID
  - GID
  - PWD
  - DOCKER_GID
stdin_open: true
tty: true
command: [ "bash" ]
