image: '{{ cli_image }}'
{% if os_name == 'linux' %}
extra_hosts:
  - "host.docker.internal:{{ lookup('env','LE_NET_GW') }}"
{% endif %}
volumes:
  - '{{ source_dir }}:/var/www'
  - '{{ home_dir }}/.ssh/:{{ home_dir }}/.ssh/'
  - '{{ home_dir }}/.gitconfig:{{ home_dir }}/.gitconfig'
{% if lookup('env','SSH_AGENT_PID') is defined %}
  - ${SSH_AUTH_SOCK}:${SSH_AUTH_SOCK}
{% endif %}
{% if configs %}
  - {{ config_dir }}:{{ config_dir }}
{% endif %}
{% if  cache_dir is defined %}
  - {{ cache_dir }}
{% endif %}
{% if lookup('env','SSH_AGENT_PID') is defined %}
environment:
  - SSH_AGENT_PID
  - SSH_AUTH_SOCK
{% endif %}
command: [ "bash" ]
{% for service in services.keys() if not (service in ['nginx','cli'] or (lookup('template', playbook_dir + '/templates/services/' + service + '.yml.j2')|from_yaml)['image']|default(services[service]['image']) ==  cli_image + '_' + project + '_' + repo_name) %}
{% if loop.index == 1 %}
depends_on:
{% endif %}
  - {{ project_name }}-{{ service }}
{% endfor %}
stdin_open: true
tty: true
