image: "{{ cli_image + '_' + project + '_' + repo_name }}"
volumes:
  - '{{ source_dir }}:/var/www'
{% if configs %}
  - {{ config_dir }}:{{ config_dir }}
{% endif %}
  - {{ cache_dir }}
command: ["$HOME/.gem/bin/madness","/var/www"]
depends_on:
  - {{ project_name }}-cli
