#!/bin/bash
{% if 'workers' in services %}
sudo ln -sf /var/www/config/supervisord.conf /etc/supervisor/supervisord.conf
{% endif %}
{% if build_command is defined %}
{{ build_command }}
{% endif %}
{% if build_directories is defined %}
mkdir -p {{ build_directories }}
{% endif %}
exit 0
