fpm:
  image: "{{ cli_image + '_' + project + '_' + repo_name }}"
  volumes:
    - '{{ source_dir }}:/var/www'
    - '{{ home_dir }}/.ssh/:{{ home_dir }}/.ssh/'
    - '{{ home_dir }}/.gitconfig:{{ home_dir }}/.gitconfig'
{% if configs %}
    - {{ config_dir }}:{{ config_dir }}
{% endif %}
{% if  cache_dirs[tech] is defined %}
    - {{ cache_dirs[tech] }}
{% endif %}
  command: ["php-fpm", "--nodaemonize"]
  depends_on:
    - {{ project }}-{{ repo_name }}-cli
