version: '3.6'
services:
{% for service in services.keys()|sort %}
{% set service_data = services[service] %}
  {{ project_name }}-{{ service }}:
    container_name: {{ project_name }}-{{ service }}
    hostname: {{ project_name }}-{{ service }}
{% if (playbook_dir + '/templates/' + service + '/Dockerfile.j2') is file %}
    build:
      context: ./{{ service }}/
      dockerfile: Dockerfile
      network: host
{% set service_data = service_data|combine({'image': service_data['image'] + '_' + project + '_' + repo_name}) %}
{% endif %}
{{ service_data|to_nice_yaml|indent(4,true) }}
    restart: always
    networks:
      default:
        aliases:
          - {{ service }}
      localenv:
        aliases:
          - {{ project_name }}-{{ service }}
          - {{ service }}.{{ repo_name }}.{{ project }}.{{ tld_default }}
{% if service == 'nginx' %}
          - {{ repo_name }}.{{ project }}.{{ tld_default }}
{% endif %}
{% endfor %}
{% if persistent_volumes is defined %}
volumes:
{% for volume in persistent_volumes %}
  {{ project + '-' + repo_name + '-' + volume|replace('/','-') }}:
{% endfor %}
{% endif %}
networks:
  localenv:
    external:
      name: localenv
