{% set volumes = {} %}
version: '3.6'
services:
{% for service in services.keys()|sort %}
{% set service_data = services[service] %}
  {{ project_name }}-{{ service }}:
    container_name: {{ project_name }}-{{ service }}
    hostname: {{ project_name }}-{{ service }}
{% set service_dockerfile = services_primitives_path + service + '/Dockerfile' %}
{% if ((service_dockerfile is file) or ((service_dockerfile + '.j2') is file)) %}
    build:
      context: ./{{ service }}/
      dockerfile: Dockerfile
      network: host
{% set service_data = service_data|combine({'image': service_data['image'] + '_' + project + '_' + repo_name}) %}
{% endif %}
{{ service_data|dict2items|reject('search','volumes')|flatten|items2dict|to_nice_yaml|indent(4,true) }}
{%- set  service_volumes = service_data['volumes']|default('') %}
{% for volume in service_volumes %}
{% if loop.index == 1 %}
    volumes:
{% endif %}
{% if volume is search(':') %}
    - {{ volume }}
{% else %}
{% set volume_key = project + '-'  + repo_name + '-' + service + volume|replace('/','-') %}
{% if volumes.update({volume_key: volume}) %}{% endif %}
    - {{ volume_key }}:{{ volume }}
{% endif %}
{% endfor %}
    restart: always
    networks:
      default:
        aliases:
          - {{ service }}
      localenv:
        aliases:
          - {{ project_name }}-{{ service }}
          - {{ service }}-{{ repo_name }}-{{ project }}.{{ tld_default }}
          - {{ service }}.{{ repo_name }}.{{ project }}.{{ tld_default }}
{% if service == 'nginx' %}
          - {{ repo_name }}-{{ project }}.{{ tld_default }}
          - {{ repo_name }}.{{ project }}.{{ tld_default }}
{% endif %}
{% endfor %}
{% for volume in volumes.keys()|sort %}
{% if loop.index == 1 %}
volumes:
{% endif %}
  {{ volume + ':' }}
{% endfor %}
networks:
  localenv:
    external:
      name: localenv
