{% for project_file in lookup('fileglob',playbook_dir + '/projects/*.yml',wantlist=True) %}
{% set project_data  = lookup('file',project_file)|from_yaml %}
{% set project       = project_file|basename|regex_replace('\\.yml','') %}
{% for repo_name in project_data.keys() if project_data[repo_name] is mapping %}
{% set project_name  = project + '-' + repo_name %}
{% set service_dir   = services_dir + '/' + project_name %}
deploy-{{ project_name }}: {{ project_name }}-render
	@$(localenv) make -C {{ service_dir }} {{ project_name }}-deploy
{{ project_name }}-render:
	@$(localenv) mkdir -p {{ service_dir }}
	@$(localenv) test -f {{ service_dir }}/docker-compose.yml && $(localenv) docker-compose -f {{ service_dir }}/docker-compose.yml down --remove-orphans || true
	@$(localenv) ansible-playbook -i {{ playbook_dir }}/inventory {{ playbook_dir }}/localenv.yml --extra-vars='project={{ project }} repo_name={{ repo_name }}'
-include {{ service_dir }}/Makefile
{% endfor %}
{% endfor %}
